Repository nestauk/ds-cookiecutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        exclude: "docs/mkdocs.yml"
        types: [yaml]
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier
        name: Prettier (mkdocs markdown)
        args: ["--tab-width", "4"]
        files: "^docs/.*md$"
      - id: prettier
        name: Prettier (other markdown)
        exclude: "docs"
        files: ".md"
      - id: prettier
        name: Prettier (except markdown)
        exclude: ".md"

Fix indentation issue
  {{ cookiecutter.repo_name }}/Makefile
Due: none

Renaming tests
  tests/test_creation.py
Due: none

Add python-env-activate function to make file
  {{ cookiecutter.repo_name }}/Makefile
Due: none

Merge remote-tracking branch 'origin/201_remove_jupytext_prescription' into harry-cookiecutter-updates
  {{ cookiecutter.repo_name }}/.github/pull_request_template.md
  {{ cookiecutter.repo_name }}/.gitignore
Due: none

Add pre-commit-update
  .pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Add `uv` as an option to the cookiecutter setup
  cookiecutter.json
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

Add ruff
  requirements.txt
  tests/conftest.py
  tests/test_creation.py
Due: none

fix config, add shell.bash to conda activate config
  cookiecutter.json
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

remove redendant whitespaces in test.yml
  .github/workflows/test.yml
Due: check-yaml

exclude cookicutter config from end-of-file-fixer pre-commit
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

add pre-commit and pre-commit-hooks to requirements.txt and environment.yaml
  requirements.txt
  {{ cookiecutter.repo_name }}/environment.yaml
Due: check-yaml

test make setup-git log
  {{ cookiecutter.repo_name }}/Makefile
Due: none

revert Makefile setup-git
  {{ cookiecutter.repo_name }}/Makefile
Due: none

revert aea41de, remove pre-commit and pre-commit-hooks to requirements.txt and environment.yaml
  requirements.txt
  {{ cookiecutter.repo_name }}/environment.yaml
Due: check-yaml

test shell.bash in .cookiecutter/config
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

revert f066cea: add shell.bas to ENV_ACTIVATE in conda cookiecutter config
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

Adding venv tests
  .pre-commit-config.yaml
  tests/conftest.py
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Remove pyenv-virtualenv for now
  cookiecutter.json
  tests/conftest.py
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

Add uv to test installs
  .github/workflows/test.yml
Due: check-yaml

Fix uv install
  .github/workflows/test.yml
Due: check-yaml

Clean up args_list
  tests/conftest.py
Due: none

fix typo in comment
  tests/conftest.py
Due: none

Rename args_list to test_params
  tests/conftest.py
Due: none

Resolve conda warning with .envrc conditional
  {{ cookiecutter.repo_name }}/.envrc
Due: none

Label tests via venv_type as id
  tests/conftest.py
Due: none

Fix .envrc whitespace
  {{ cookiecutter.repo_name }}/.envrc
Due: none

Compiled updates for cookiecutter modernisation (#209)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  GUIDELINES.md
  cookiecutter.json
  docs/docs/structure.md
  requirements.txt
  tests/conftest.py
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/.cookiecutter/config
  {{ cookiecutter.repo_name }}/.envrc
  {{ cookiecutter.repo_name }}/.github/pull_request_template.md
  {{ cookiecutter.repo_name }}/.gitignore
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/Makefile
  {{ cookiecutter.repo_name }}/docs/conf.py
  {{ cookiecutter.repo_name }}/jupytext.toml
  {{ cookiecutter.repo_name }}/pyproject.toml
  {{ cookiecutter.repo_name }}/requirements.txt
  {{ cookiecutter.repo_name }}/requirements_dev.txt
  {{ cookiecutter.repo_name }}/setup.cfg
  {{ cookiecutter.repo_name }}/setup.py
Due: check-toml, check-yaml

Deployed aaf594b with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/javascripts/workers/search.f8cc74c7.min.js.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  examples/index.html
  examples/industrial_taxonomy/index.html
  guidelines/index.html
  index.html
  quickstart/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

Add removal to post_gen_project
  hooks/post_gen_project.sh
Due: none

Add test
  tests/test_creation.py
Due: none

Fix whitespace
  hooks/post_gen_project.sh
  tests/test_creation.py
Due: none

Remove env yaml (#213)
  hooks/post_gen_project.sh
  tests/test_creation.py
Due: none

Removed 0_setup_cookiecutter as it is redundant, closes #198
  docs/docs/quickstart.md
  hooks/post_gen_project.sh
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Removed 0_setup_cookiecutter as it is redundant, closes #198 (#214)
  docs/docs/quickstart.md
  hooks/post_gen_project.sh
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Deployed 465f544 with MkDocs version: 1.6.1
  quickstart/index.html
  search/search_index.json
Due: none

Add initial update to post_gen_project.sh for testing
  hooks/post_gen_project.sh
Due: none

Use pwd instead of project slug
  hooks/post_gen_project.sh
Due: none

Fix gh CLI calls
  hooks/post_gen_project.sh
Due: none
