Repository nestauk/ds-cookiecutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, black

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

Deployed 6291176 with MkDocs version: 1.5.3
  css/extra.css
  search/search_index.json
  sitemap.xml.gz
  structure/index.html
Due: none

chore(hooks): move nbstripout hook for stripping notebook outputs
  .pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

chore(hooks): move nbstripout hook for stripping notebook outputs (#187)
  .pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Deployed 9e829c4 with MkDocs version: 1.5.3
  404.html
  assets/javascripts/bundle.8fd75fb4.min.js
  assets/javascripts/bundle.8fd75fb4.min.js.map
  assets/javascripts/bundle.e1c3ead8.min.js
  assets/javascripts/bundle.e1c3ead8.min.js.map
  assets/stylesheets/main.50c56a3b.min.css
  assets/stylesheets/main.50c56a3b.min.css.map
  assets/stylesheets/main.f2e4d321.min.css
  assets/stylesheets/main.f2e4d321.min.css.map
  examples/index.html
  examples/industrial_taxonomy/index.html
  guidelines/index.html
  index.html
  quickstart/index.html
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

build: remove defaults channel
  {{ cookiecutter.repo_name }}/environment.yaml
Due: check-yaml

fix: add conda deactivate to test_creation.TestCookieSetup.test_install
  tests/test_creation.py
Due: black

WIP: conda and test env creation fixes
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/environment.yaml
Due: check-yaml, black

fix: move test_install into separate test class
  tests/test_creation.py
Due: black

build: remove defaults channel (#189)
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/environment.yaml
Due: check-yaml, black

Deployed 9c3f162 with MkDocs version: 1.5.3
  404.html
  assets/javascripts/bundle.3220b9d7.min.js
  assets/javascripts/bundle.3220b9d7.min.js.map
  assets/javascripts/bundle.8fd75fb4.min.js
  assets/javascripts/bundle.8fd75fb4.min.js.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  assets/stylesheets/main.f2e4d321.min.css
  assets/stylesheets/main.f2e4d321.min.css.map
  examples/index.html
  examples/industrial_taxonomy/index.html
  guidelines/index.html
  index.html
  quickstart/index.html
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

Update quickstart doc: add cookiecutter installation prerequisite
  docs/docs/quickstart.md
Due: none

fix(actions): test upgrade python
  .github/workflows/test.yml
Due: check-yaml

fix(actions): test use setup-miniconda action
  .github/workflows/test.yml
Due: check-yaml

fix(actions): test adding back setup-python step
  .github/workflows/test.yml
Due: check-yaml

fix(actions): change setup-miniconda step
  .github/workflows/test.yml
Due: check-yaml

fix(actions): remove conda from test workflow
  .github/workflows/test.yml
Due: check-yaml

fix(actions): add basic conda setup
  .github/workflows/test.yml
Due: check-yaml

fix(actions): add conda test env paths
  .github/workflows/test.yml
Due: check-yaml

fix(actions): add activate-environment to conda-setup
  .github/workflows/test.yml
Due: check-yaml

fix(actions): remove conda relative path to mkdocs step
  .github/workflows/test.yml
Due: check-yaml

docs(quickstart): add cookiecutter installation prerequisite (#191)
  .github/workflows/test.yml
  docs/docs/quickstart.md
Due: check-yaml

Deployed 324f069 with MkDocs version: 1.6.0
  404.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.3220b9d7.min.js
  assets/javascripts/bundle.3220b9d7.min.js.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  examples/index.html
  examples/industrial_taxonomy/index.html
  guidelines/index.html
  index.html
  quickstart/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

Working on optionality
  {{ cookiecutter.repo_name }}/Makefile
Due: none

Fixes #195, Fixes #196 not quite passing all tests but have switched full to ruff and as a result ditched most of the other config files
  .pre-commit-config.yaml
  docs/docs/structure.md
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/Makefile
  {{ cookiecutter.repo_name }}/jupytext.toml
  {{ cookiecutter.repo_name }}/pyproject.toml
  {{ cookiecutter.repo_name }}/requirements.txt
  {{ cookiecutter.repo_name }}/requirements_dev.txt
  {{ cookiecutter.repo_name }}/setup.cfg
  {{ cookiecutter.repo_name }}/setup.py
Due: check-toml, check-yaml, black

Change channels in environment.yaml
  {{ cookiecutter.repo_name }}/environment.yaml
Due: check-yaml

Fix test.yml conda expectation of `defaults` channel
  .github/workflows/test.yml
  {{ cookiecutter.repo_name }}/environment.yaml
Due: check-yaml

Fix in mac config too and update python versions
  .github/workflows/test.yml
Due: check-yaml

Add `tomli` dep to base package
  requirements.txt
Due: none

Resolve pre-commit issues
  {{ cookiecutter.repo_name }}/docs/conf.py
  {{ cookiecutter.repo_name }}/pyproject.toml
Due: check-toml, black

Fix conf isort issue
  {{ cookiecutter.repo_name }}/docs/conf.py
Due: black

Editing conf.py AGAIN due to weird formatting inconsistency
  {{ cookiecutter.repo_name }}/docs/conf.py
Due: black

Fixes #193
  .pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Removing the prescription of jupytext and its presence from the cookiecutter
  docs/docs/structure.md
  {{ cookiecutter.repo_name }}/.github/pull_request_template.md
  {{ cookiecutter.repo_name }}/.gitignore
  {{ cookiecutter.repo_name }}/jupytext.toml
  {{ cookiecutter.repo_name }}/requirements_dev.txt
Due: check-toml

Change foreword to mention ruff
  GUIDELINES.md
Due: none

Adjust pre-commits minimally in light of existing PR
  .pre-commit-config.yaml
Due: check-yaml

Add openness param to testing
  tests/conftest.py
  tests/test_creation.py
Due: black

Ideas for optionality
  cookiecutter.json
  {{ cookiecutter.repo_name }}/.cookiecutter/config
  {{ cookiecutter.repo_name }}/Makefile
Due: none

Remove unnecessary ** from __init__ exclusions
  {{ cookiecutter.repo_name }}/pyproject.toml
Due: check-toml

Get rid of cat log as it doesn't do anything
  {{ cookiecutter.repo_name }}/Makefile
Due: none

Remove redundant ENVIRONMENT_NAME var
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: docs/mkdocs.yml
  black: any of: \.py$
