Repository nestauk/ds-cookiecutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Working auto setup and pre-commit installation for uv, venv and conda
  .gitignore
  .pre-commit-config.yaml
  cookiecutter.json
  hooks/post_gen_project.sh
  pyproject.toml
  requirements.txt
  uv.lock
  {{ cookiecutter.repo_name }}/.envrc
  {{ cookiecutter.repo_name }}/.gitignore
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/environment.yaml
  {{ cookiecutter.repo_name }}/pyproject.toml
Due: check-toml, check-yaml

ignore .venv
  .gitignore
Due: none

Change version
  pyproject.toml
Due: check-toml

Add auto-setup
  cookiecutter.json
  hooks/post_gen_project.sh
  {{ cookiecutter.repo_name }}/.envrc
Due: none

Update tests
  tests/conftest.py
  tests/test_creation.py
  uv.lock
Due: none

Update workflow
  .github/workflows/test.yml
Due: check-yaml

Adjust for pyproject toml
  .github/workflows/test.yml
Due: check-yaml

Fix .venv issue
  tests/test_creation.py
Due: none

Add pytest-cov to deps
  pyproject.toml
  uv.lock
Due: check-toml

Update deps
  pyproject.toml
  uv.lock
Due: check-toml

Add file structure options
  .coverage
  .pre-commit-config.yaml
  cookiecutter.json
  hooks/post_gen_project.sh
  tests/conftest.py
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/tests/.gitkeep
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/analysis/__init__.py
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/analysis/notebooks/.gitkeep
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/analysis/notebooks/README.md
Due: check-yaml

Fix test id
  .coverage
  tests/conftest.py
Due: none

Restructure docs and add documentation for changes
  DEVELOPERS.md
  README.md
  cookiecutter.json
  docs/README.md
  docs/css/extra.css
  docs/developers.md
  docs/docs/examples/index.md
  docs/docs/examples/industrial_taxonomy.md
  docs/docs/quickstart.md
  docs/favicon.ico
  docs/index.md
  docs/quickstart.md
  docs/structure.md
  mkdocs.yml
  {{ cookiecutter.repo_name }}/pyproject.toml
Due: check-toml, check-yaml

Small documentation changes
  docs/developers.md
  docs/quickstart.md
Due: none

Reshuffling files
  cookiecutter.json
  docs/quickstart.md
  docs/structure.md
  hooks/post_gen_project.sh
  tests/conftest.py
  tests/test_creation.py
  {{ cookiecutter.module_name }}/.cookiecutter/config
  {{ cookiecutter.module_name }}/.envrc
  {{ cookiecutter.module_name }}/.github/pull_request_template.md
  {{ cookiecutter.module_name }}/.gitignore
  {{ cookiecutter.module_name }}/.pre-commit-config.yaml
  {{ cookiecutter.module_name }}/LICENSE
  {{ cookiecutter.module_name }}/README.md
  {{ cookiecutter.module_name }}/docs/conf.py
  {{ cookiecutter.module_name }}/docs/index.rst
  {{ cookiecutter.module_name }}/docs/license.rst
  {{ cookiecutter.module_name }}/environment.yaml
  {{ cookiecutter.module_name }}/outputs/.gitkeep
  {{ cookiecutter.module_name }}/outputs/figures/.gitkeep
  {{ cookiecutter.module_name }}/outputs/figures/vegalite/.gitkeep
  {{ cookiecutter.module_name }}/outputs/reports/.gitkeep
  {{ cookiecutter.module_name }}/pyproject.toml
  {{ cookiecutter.module_name }}/tests/.gitkeep
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/__init__.py
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/analysis/__init__.py
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/analysis/notebooks/.gitkeep
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/config/base.yaml
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/config/logging.yaml
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/getters/__init__.py
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/pipeline/__init__.py
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/utils/.gitkeep
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/utils/__init__.py
  {{ cookiecutter.repo_name }}/.env
  {{ cookiecutter.repo_name }}/.recipes/GithubCreation.md
  {{ cookiecutter.repo_name }}/.recipes/MetaflowAWS.md
  {{ cookiecutter.repo_name }}/outputs/figures/vegalite/.gitkeep
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/analysis/notebooks/.gitkeep
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/utils/.gitkeep
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/utils/__init__.py
Due: check-toml, check-yaml

Add .env in template
  {{ cookiecutter.module_name }}/.env
Due: none

Adding .recipes back
  {{ cookiecutter.module_name }}/.recipes/GithubCreation.md
  {{ cookiecutter.module_name }}/.recipes/MetaflowAWS.md
Due: none

Fix docs in action
  .github/workflows/test.yml
  {{ cookiecutter.module_name }}/{{ cookiecutter.module_name }}/utils/.gitkeep
Due: check-yaml

Add missing files for tests
  {{ cookiecutter.module_name }}/.cookiecutter/state/.gitkeep
  {{ cookiecutter.module_name }}/outputs/.cache/.gitkeep
  {{ cookiecutter.module_name }}/outputs/data/.gitkeep
  {{ cookiecutter.module_name }}/outputs/models/.gitkeep
Due: none

Update gitignore
  .pre-commit-config.yaml
  {{ cookiecutter.module_name }}/.gitignore
Due: check-yaml

Add jupytext hook
  {{ cookiecutter.module_name }}/.pre-commit-config.yaml
Due: check-yaml

Update pre-commit layout and jupytext hook-flow
  {{ cookiecutter.module_name }}/.pre-commit-config.yaml
Due: check-yaml

Small fixes
  hooks/post_gen_project.sh
  {{ cookiecutter.module_name }}/.envrc
Due: none

Remove jupytext config as it is not needed
  {{ cookiecutter.module_name }}/pyproject.toml
Due: check-toml

Move pre-commit-update to top
  {{ cookiecutter.module_name }}/.pre-commit-config.yaml
Due: check-yaml

Change default python version to 3.13
  cookiecutter.json
  docs/quickstart.md
Due: none

Change whitespace in output
  hooks/post_gen_project.sh
Due: none

R .gitignore
  {{ cookiecutter.module_name }}/.gitignore
Due: none

Get rid of author param, improve project name and module name params, improve README
  cookiecutter.json
  docs/quickstart.md
  hooks/post_gen_project.sh
  tests/conftest.py
  tests/test_creation.py
  {{ cookiecutter.module_name }}/.cookiecutter/config
  {{ cookiecutter.module_name }}/.envrc
  {{ cookiecutter.module_name }}/LICENSE
  {{ cookiecutter.module_name }}/README.md
  {{ cookiecutter.module_name }}/docs/conf.py
  {{ cookiecutter.module_name }}/docs/index.rst
  {{ cookiecutter.module_name }}/pyproject.toml
Due: check-toml

Fix local conda testing
  hooks/post_gen_project.sh
Due: none

Remove pointless config file
  {{ cookiecutter.module_name }}/.cookiecutter/config
Due: none

Change order of ruff hooks
  {{ cookiecutter.module_name }}/.pre-commit-config.yaml
Due: check-yaml

Update README.md
  README.md
Due: none

Update {{ cookiecutter.module_name }}/README.md
  {{ cookiecutter.module_name }}/README.md
Due: none

Addressing Seth's comments
  .pre-commit-config.yaml
  cookiecutter.json
  docs/quickstart.md
  hooks/post_gen_project.sh
  pyproject.toml
  tests/conftest.py
  {{ cookiecutter.module_name }}/pyproject.toml
Due: check-toml, check-yaml

Use pygit2
  pyproject.toml
  tests/test_creation.py
  uv.lock
Due: check-toml

Adjust direnv stuff
  cookiecutter.json
  docs/quickstart.md
  hooks/post_gen_project.sh
  tests/conftest.py
  {{ cookiecutter.module_name }}/.envrc
  {{ cookiecutter.module_name }}/README.md
Due: none

Adjust README template
  {{ cookiecutter.module_name }}/README.md
Due: none

Remove auto activate from .envrc
  {{ cookiecutter.module_name }}/.envrc
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: docs/mkdocs.yml
