Repository nestauk/ds-cookiecutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        exclude: "docs/mkdocs.yml"
        types: [yaml]
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier
        name: Prettier (mkdocs markdown)
        args: ["--tab-width", "4"]
        files: "^docs/.*md$"
      - id: prettier
        name: Prettier (other markdown)
        exclude: "docs"
        files: ".md"
      - id: prettier
        name: Prettier (except markdown)
        exclude: ".md"

Improve messaging
  hooks/post_gen_project.sh
Due: none

Fix repo_name call in project cleanup
  hooks/post_gen_project.sh
Due: none

Again fix the repo name
  hooks/post_gen_project.sh
Due: none

update how to request new repo
  docs/docs/quickstart.md
Due: none

fix typo
  docs/docs/quickstart.md
Due: none

build(pre-commit): bump ruff-pre-commit v0.9.3 to v0.9.4, prettier auto-formatting
  .pre-commit-config.yaml
Due: check-yaml

fix(cookiecutter config): add quotes to pip install dev
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

fix(pre-commit): bump pre-commit in repo template to v0.9.4
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

fix(Makefile): set SHELL env variable to user preset shell
  {{ cookiecutter.repo_name }}/Makefile
Due: none

fixup! fix(Makefile): set SHELL env variable to user preset shell, use pip-install with call command
  {{ cookiecutter.repo_name }}/Makefile
Due: none

small change(config): move uv docstring to conditional
  {{ cookiecutter.repo_name }}/.cookiecutter/config
Due: none

fix(Makefile): call pre-commit install in setup-git
  {{ cookiecutter.repo_name }}/Makefile
Due: none

v0.3.1 Patches (#221)
  .pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/.cookiecutter/config
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/Makefile
Due: check-yaml

Deployed 4352ebf with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  examples/index.html
  examples/industrial_taxonomy/index.html
  guidelines/index.html
  index.html
  quickstart/index.html
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

update how to request new repo (#218)
  docs/docs/quickstart.md
Due: none

Deployed df43ad7 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  examples/index.html
  examples/industrial_taxonomy/index.html
  guidelines/index.html
  index.html
  quickstart/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

Delete the Makefile
  {{ cookiecutter.repo_name }}/Makefile
Due: none

Move notebooks under the analysis folder
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/analysis/notebooks/README.md
Due: none

Update .envrc
  {{ cookiecutter.repo_name }}/.envrc
Due: none

Stop automatic running of direnv allow
  hooks/post_gen_project.sh
Due: none

Update post gen hooks
  hooks/post_gen_project.sh
Due: none

Remove inputs
  {{ cookiecutter.repo_name }}/inputs/data/.gitkeep
Due: none

Update docs
  README.md
  docs/docs/guidelines.md
  docs/docs/quickstart.md
  docs/docs/structure.md
  docs/mkdocs.yml
Due: none

Update tests
  tests/test_creation.py
Due: none

Change to dependency groups
  {{ cookiecutter.repo_name }}/pyproject.toml
Due: check-toml

Update cookiecutter (#224)
  README.md
  docs/docs/guidelines.md
  docs/docs/quickstart.md
  docs/docs/structure.md
  docs/mkdocs.yml
  hooks/post_gen_project.sh
  tests/test_creation.py
  {{ cookiecutter.repo_name }}/.envrc
  {{ cookiecutter.repo_name }}/Makefile
  {{ cookiecutter.repo_name }}/inputs/data/.gitkeep
  {{ cookiecutter.repo_name }}/pyproject.toml
  {{ cookiecutter.repo_name }}/{{ cookiecutter.repo_name }}/analysis/notebooks/README.md
Due: check-toml

Deployed f49f7f3 with MkDocs version: 1.6.1
  404.html
  examples/index.html
  examples/industrial_taxonomy/index.html
  guidelines/index.html
  index.html
  quickstart/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

Update pyproject.toml
  {{ cookiecutter.repo_name }}/pyproject.toml
Due: check-toml

Deployed 78c3fc3 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.13a4f30d.min.js
  assets/javascripts/bundle.13a4f30d.min.js.map
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/workers/search.d50fe291.min.js
  assets/javascripts/workers/search.d50fe291.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/stylesheets/main.342714a4.min.css
  assets/stylesheets/main.342714a4.min.css.map
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  examples/index.html
  examples/industrial_taxonomy/index.html
  index.html
  quickstart/index.html
  sitemap.xml
  sitemap.xml.gz
  structure/index.html
Due: none

Update .pre-commit-config.yaml
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Add uv hook
  {{ cookiecutter.repo_name }}/.pre-commit-config.yaml
Due: check-yaml

Minimise dev reqs
  {{ cookiecutter.repo_name }}/pyproject.toml
Due: check-toml

Update .gitignore
  {{ cookiecutter.repo_name }}/.gitignore
Due: none
